# Fixer le comportement par défaut :
# Détection automatique du texte et conversion en LF lors de l'ajout au dépôt.
* text=auto eol=lf

# Forcer spécifiquement certains types de fichiers (optionnel mais recommandé)
*.mdx        text  eol=lf
*.mjs        text  eol=lf
*.md         text  eol=lf
*.js         text  eol=lf
*.json       text  eol=lf
*.yml        text  eol=lf
.env.example text  eol=lf

# Ignorer les fichiers binaires (ne pas toucher aux fins de ligne)
*.png     binary
*.jpg     binary
*.drawio  binary
